<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>The Gossip Project - Team</title>
    </head>

    <body>
    <div class='ml-5'>
      <br>
      <h2 class="text-center">Team Gossip Project</h2>
      <br>
        <div class="row juxtify-content-md-center">  
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://media0.giphy.com/media/kTYRGacosvfIKvKkaY/200w.webp?cid=ecf05e47itfbk06r10144pq76aavefge54ta7jon1jlmuuyy&rid=200w.webp" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Linda</h4>
          </div>
 
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://media4.giphy.com/media/cLTZgT1RNf5zLMoo2h/200w.webp?cid=ecf05e47itfbk06r10144pq76aavefge54ta7jon1jlmuuyy&rid=200w.webp" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Karima</h4>
          </div>
          
          <div class="col-lg-3 text-center">
            <img class = "square" src="https://media3.giphy.com/media/dwEsasocKXMtkDPS8p/200w.webp?cid=ecf05e47q01p5826bk81gqidr3zdb2f6y59z8x19ka08v2xk&rid=200w.webp" class="rounded-sm" width="130" height="130" style="border-radius:50%"/>
            <h4>Nimrod</h4>
          </div>

       
        
      </div>
    </div>
    </body>
</html>


